.myButton {
    width: 130px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
.myButton:hover {
    transform: scale(1.8);
  }
